.itb-packages-nobg {
    background-color: transparent !important;
}

.itb-package-search .fusion-page-title-bar {
    display: none;
}
.itb-package-search-form {
    background: rgba(0,0,0,.6);
    margin: 0 auto;
    max-width: 100%;
    padding: 10px 0;
    text-align: center;
}
.itb-package-search-form form {
    margin: 0 auto;
}
.itb-package-search-form select,
.itb-package-search-form input {
    border: 1px solid #ccc;
    color: #aaa9a9;
    height: 35px;
    margin: 10px;
    outline: 0;
    padding-left: 5px;
    width: calc(100% - 35px);
}
.itb-package-search-form input[type="submit"] {
    background: #e32;
    cursor: pointer;
    color: #fff;
    border: 0;
    max-width: 180px;
    padding: 0;
    transition: background-color .3s;
}
.itb-package-search-form input[type="submit"]:hover {
    background-color: #ce2112;
}
.itb-package-search-form .itbp-select {
    display: inline-block;
    position: relative;
    width: calc(100% - 15px);
}
.itb-package-search-form .itbp-select input {
    color: #aaa9a9;
    cursor: pointer;
    width: calc(100% - 20px);
}

.itbp_destinations {
    display: none;
    text-align: left;
    list-style: none;
    margin: -10px 10px 0;
    background: #fff;
    padding: 0;
    position: absolute;
    width: calc(100% - 20px);
    border: 1px solid #ccc;
    border-top: 0;
    z-index: 100;
}
.itbp_destinations ul {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0 0 0 10px !important;
}
.itbp_destinations ul li {
    border: 0;
}
.itbp_destinations a {
    color: #aaa9a9;
    display: block;
    line-height: 1.2;
    padding: 5px 50px 5px 0 !important;
}
.itbp_destinations a:hover {
    color: #aaa9a9;
}
.itbp_destinations > li {
    border-top: 1px solid #ccc;
    padding: 0 5px !important;
    position: relative;
}
.itbp_destinations .itbp-open-submenu {
    color: #333;
    font-size: 12px;
    height: 32px;
    line-height: 32px;
    display: block;
    position: absolute;
    right: 0;
    width: 50px;
    border: none;
    cursor: pointer;
    text-align: center;
    top: 0;
}
.itbp_destinations .itbp-open-submenu:hover {
    color: #e10707;
}
.itbp_destinations .itbp-open-submenu:before {
    display: block;
    font-family: icomoon;
    margin: 0;
    content: '\e61f';
}

@media screen and (min-width: 480px) {
    .itb-package-search-form select,
    .itb-package-search-form input {
        max-width: 250px;
        width: 40%;
    }
    .itb-package-search-form .itbp-select {
        margin: 0 10px;
        max-width: 250px;
        width: 40%;
    }
    .itb-package-search-form .itbp-select input {
        margin: 10px 0;
        width: 100%;
    }
    .itbp_destinations {
        left: initial !important;
        margin: -10px 0 0 !important;
        top: initial !important;
        width: 100%;
    }
}

@media screen and (min-width: 760px) {
    .itb-package-search-form {
        padding: 10px 30px;
    }
    .itb-package-search-form select,
    .itb-package-search-form input {
        width: 20%;
    }
    .itb-package-search-form .itbp-select {
        width: 20%;
    }
    .itb-package-search-form .itbp-codes {
        max-width: 90px;
    }
}