/* The Package Details template has a fixed ID of -42 so we can use that to namespace all styles */
.single-itb-packages h1 {
    font-size: 1.6em;
    line-height: 1.4;
}
.single-itb-packages .clearleft {
    clear: left;
}
.single-itb-packages .package-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.single-itb-packages .package-header .fusion-one-third {
    -ms-flex-order: 1;
        order: 1;
    width: 100%;
}
.single-itb-packages .package-header .fusion-two-fifth {
    -ms-flex-order: 3;
        order: 3;
    width: 100%;
}
.single-itb-packages .package-header .fusion-one-fourth {
    -ms-flex-order: 2;
        order: 2;
    width: 100%;
}

.single-itb-packages .itbp-price {
    color: #1063ab;
    font-size: 2.5em;
    font-weight: bold;
    letter-spacing: -.05em;
    margin-bottom: .2em;
}
.single-itb-packages .itbp-price span {
    color: #1063ab;
    font-size: 0.5em;
    font-weight: bold;
    vertical-align: top;
}
.single-itb-packages .itbp-pricefrom,
.single-itb-packages .itbp-priceper {
    display: block;
    font-size: smaller;
    margin-bottom: 0;
    text-transform: uppercase;
}
.single-itb-packages .itbp-pricefrom {
    margin-bottom: -.5em;
}
.single-itb-packages .itbp-saving {
    font-weight: bold;
}
.single-itb-packages dl {
    margin: 0;
}
.single-itb-packages dt {
    line-height: 1;
    opacity: .8;
    text-transform: uppercase;
}
.single-itb-packages dd {
    font-weight: bold;
    margin: 0 0 .1em;
}

.single-itb-packages fieldset ul {
    padding-left: 0;
}

.single-itb-packages legend {
    color: #1063ab;
    font-size: 16px;
    border-bottom: 1px solid #ccc;
    width: 100% !important;
    padding: 0 5px 5px;
    margin-bottom: 1em;
    position: relative;
    text-align: center;
}

.single-itb-packages legend:after {
    content: '';
    border-top: 10px solid #ccc;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    top: 100%;
    position: absolute;
    right: calc(50% - 5px);
}

.single-itb-packages .datepicker {
    width: 100% !important;
}

.single-itb-packages .gform_confirmation_wrapper {
    padding: 20px;
    text-align: center;
    background: #d6f3d9;
    border-left: 3px solid #46b450;
    color: #222;
}

/* Package Quick Response Panel */
.single-itb-packages .package-qr--container {
    background: #ee3322;
    margin-bottom: 20px;
}
.single-itb-packages .package-qr--container .flexslider {
    border-bottom: 5px solid #fff;
    margin-bottom: 0;
}
.single-itb-packages .package-qr--form {
    padding: 10px;
}
.single-itb-packages .package-qr--form > p {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}
.single-itb-packages .package-qr--form .gform_wrapper {
    margin: 0;
}
.single-itb-packages .package-qr--form .gform_wrapper ul.gform_fields li.gfield {
    margin: 10px 0 9px 0;
    padding: 0;
}
.single-itb-packages .package-qr--form .gform_wrapper label.gfield_label {
    display: none;
}
.single-itb-packages .package-qr--form .gform_wrapper .gform_footer {
    margin: 0;
    padding: 0;
    position: relative;
}
.single-itb-packages .package-qr--form .gform_wrapper .gform_footer input[type="submit"] {
    background: #fff;
    color: #333;
    width: 100%;
}
.single-itb-packages .package-qr--form .gform_ajax_spinner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}
.single-itb-packages .package-qr--form .gform_wrapper div.validation_error {
    display: none;
}
.single-itb-packages .package-qr--form .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container {
    margin: 0;
}
.single-itb-packages .package-qr--form li.gfield.gfield_error {
    background: none;
    border: 0;
}
.single-itb-packages .package-qr--form .gform_wrapper.gform_validation_error .gform_body ul li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half) {
    max-width: 100% !important;
}
.single-itb-packages .package-qr--form .gform_wrapper .gfield_description {
    padding: 3px;
    color: #fff;
    font-weight: normal;
}
.single-itb-packages .package-qr--form  .gform_confirmation_wrapper {
    padding: 0 16px;
    background: none;
    border: 0;
    color: #fff;
}
/* Styles for the package show on framed pages */
.itb-framed-page #content {
    position: relative;
}


.itb-framed-page .itbp-callout {
    position: absolute;
    top: -10px;
    right: -10px;
    transition: all 0.5s ease;
    transform: rotate(-35deg);
}

.itb-framed-page .itbp-callout:hover {
    transform: rotate(-40deg) scale(1.1);
}

.itb-framed-page .itbp-callout,
.itb-framed-page .itbp-callout:before,
.itb-framed-page .itbp-callout:after,
.itb-framed-page .itbp-callout > div,
.itb-framed-page .itbp-callout > div:before,
.itb-framed-page .itbp-callout > div:after {
    height: 8.5em;
    width: 8.5em;
    background: #fb5c60;
    text-shadow: 0 .05em .05em rgba(0,0,0,.5);
    background-size: 8.5em;
}

.itb-framed-page .itbp-callout:before,
.itb-framed-page .itbp-callout:after,
.itb-framed-page .itbp-callout > div:before,
.itb-framed-page .itbp-callout > div:after {
    content: "";
    position: absolute;
}

.itb-framed-page .itbp-callout:before {
    top: 0;
    left: 0;
    transform: rotate(-30deg);
}

.itb-framed-page .itbp-callout:after {
    top: 0;
    left: 0;
    transform: rotate(-15deg);
}

.itb-framed-page .itbp-callout > div {
    height: 8.5em;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: rotate(45deg);
    z-index: 1; /* important so the text shows up */
}

.itb-framed-page .itbp-callout > div:before {
    top: 0;
    left: 0;
    transform: rotate(60deg);
}

.itb-framed-page .itbp-callout > div:after {
    top: 0;
    left: 0;
    transform: rotate(75deg);
}

.itb-framed-page #content  .itbp-callout a {
    position: absolute;
    top: 5px;
    left: 5px;
    bottom: 5px;
    right: 5px;
    text-align: center;
    text-decoration: none;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.itb-framed-page .itbp-callout a span {
    color: #fff;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px #222;
    font-size: 110%;
}

@media screen and (min-width: 480px) {
    .single-itb-packages fieldset p {
        float: left;
        margin-right: 4%;
        width: 48%;
    }

    .single-itb-packages fieldset p:nth-child(odd) {
        margin-right: 0;
    }

    .single-itb-packages fieldset p.itbp--full {
        float: none;
        margin-right: 0;
        width: 100%;
    }
}

@media screen and (min-width: 500px) {
    .single-itb-packages .package-header .fusion-one-third {
        width: 70%;
    }
    .single-itb-packages .package-header .fusion-one-fourth {
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
        width: 30%;
    }
}

@media screen and (min-width: 640px) {
    .single-itb-packages .package-header {
        display: block;
        max-width: 790px;
    }
    .single-itb-packages .package-header.package-qr {
        float:left;
        width: 60%
    }
    .single-itb-packages .package-header .fusion-one-third {
        margin-right: 4%;
        width: 30.6666%;
    }
    .single-itb-packages .package-header .fusion-two-fifth {
        margin-right: 4%;
        width: 37.6%;
    }
    .single-itb-packages .package-header .fusion-one-fourth {
        width: 22%;
    }
    .single-itb-packages h1 {
        font-size: 2em;
    }
    .single-itb-packages .package-qr--container {
        float: right;
        width: 35%;
        margin-left: 20px;
    }
}

@media screen and (min-width: 800px) {
    .single-itb-packages .itbp_gf_half {
        clear: none !important;
        float: left;
        width: 50%;
    }
    .single-itb-packages .package-header.package-qr {
        float:left;
        width: 70%
    }
    .single-itb-packages .package-qr--container {
        width: 25%;
    }
}