#itbp-container {
    margin-bottom: 2em;
}
#itbp-container .itbp-row {
    clear: both;
    display: flex;
    zoom: 1;
    padding: 1em 0;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    margin-bottom: -1px;
}
#itbp-container .itbp-row:before,
#itbp-container .itbp-row:after {
    content: " ";
    display: table;
}
#itbp-container .itbp-imagebox {
    flex: 1 1 20%;
    margin-right: 2%;
    min-width: 0;
}
#itbp-container .itbp-mainbox {
    flex: 3 1 50%;
}
#itbp-container .itbp-mainbox h4 {
    font-size: 1.4em;
    margin: 0;
}
#itbp-container .itbp-mainbox p {
    margin: 0;
}
#itbp-container .itbp-mainbox--byeline {
    color: #222;
    font-weight: bold;
}
#itbp-container .itbp-label {
    color: #ea3939;
    text-decoration: underline;
}
#itbp-container .itbp-pricebox {
    align-self: center;
    flex: 1 1 15%;
    text-align: center;
}
#itbp-container .itbp-price {
    color: #1063ab;
    font-size: 2.5em;
    font-weight: bold;
    letter-spacing: -.05em;
    margin-bottom: .2em;
}
#itbp-container .itbp-price span {
    color: #1063ab;
    font-size: 0.5em;
    font-weight: bold;
    vertical-align: top;
}
#itbp-container .itbp-pricefrom,
#itbp-container .itbp-priceper {
    display: block;
    font-size: smaller;
    margin-bottom: .5em;
    text-transform: uppercase;
}
#itbp-container .itbp-pricefrom {
    margin-bottom: -.5em;
}
#itbp-container .itbp-pricebox a {
    margin: 0px;
    padding: 5px;
    font-size: 13px;
    font-weight: 700;
    color: #fcc6c6;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    background: #d50303;
    background: -webkit-gradient(linear, left top, left bottom, from(#ed1515), to(#d50303));
    background: -moz-linear-gradient(top, #ed1515, #d50303);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed1515', endColorstr='#d50303');
}
#itbp-container .itbp-pricebox a:hover {
    color: #fff;
}