.widget_tp_specials {
    padding: 10px 15px;
}

%autoHeightStandout {
    background-repeat: no-repeat;
    background-size:contain;
    padding-bottom: 38%;
    position: relative;
}

.tpfeed--loader {
    margin: 0;
    font-size: 10px;
    position: absolute;
    left: calc(50% - 50px);
    top: 40%;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(240,128,14, 0.2);
    border-right: 1.1em solid rgba(240,128,14, 0.2);
    border-bottom: 1.1em solid rgba(240,128,14, 0.2);
    border-left: 1.1em solid #f0800e;
    transform: translateZ(0);
    animation: tpfeedload 1.1s infinite linear;
}
.tpfeed--loader,
.tpfeed--loader:after {
    border-radius: 50%;
    width: 5em;
    height: 5em;
}
@-webkit-keyframes tpfeedload {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes tpfeedload {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.tpfeed--prev,
.tpfeed--next {
    cursor: pointer;
    display: none;
    position: absolute;
    background-color: rgba(34,34,34,.5);
    z-index: 100;
    transition: background-color .5s;
    top: 50%;
    transform: translateY(-50%);
    padding: 5px;
    border-radius: 0 50% 50% 0;

    &:before {
        content: "\f190";
        color: #fff;
        font-family: FontAwesome;
        font-size: 20px;
        line-height: 1;
    }
}
.tpfeed--next {
    border-radius: 50% 0 0 50%;
    right: 0;
    text-align: right;

    &:before {
        content: "\f18e";
    }
}

/* Default GRID layout */
.tpfeed--standout {
    margin-bottom: 15px;
    max-height: 444px;
    overflow: hidden;
    padding-bottom: 38%;
    position: relative;

    &:hover {
        .tpfeed--prev,
        .tpfeed--next {
            background-color: rgba(34,34,34,.8);
        }
    }

    a {
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size:contain;
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1;

        &:first-child {
            z-index: 10;
        }
    }

    h3 {
        color: white;
        font-size: 18px;
        line-height: 1;
        margin: 0;
        position: absolute;
        right: 20px;
        text-align: right;
        text-shadow: 0 0 10px rgba(99,99,99,1);
        text-transform: uppercase;
        top: 10px;
    }

    p {
        background: #1ab7ea;
        bottom: 10px;
        color: white;
        font-size: 14px;
        font-weight: bold;
        line-height: 1.2;
        margin: 0;
        padding: 20px 20px 15px;
        position: absolute;
        right: 10px;
        text-align: center;
        text-transform: uppercase;
        -webkit-clip-path: polygon(15px 20px, 100% 0%, 85% 100%, 0% 85%);
        clip-path: polygon(15px 20px, 100% 0%, 85% 100%, 0% 85%);
    }
}

.tpfeed--standard {
    clear: both;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 20px;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;

    .autoheight {
        background-repeat: no-repeat;
        background-size:contain;
        padding-bottom: 67%;
        position: relative;
    }

    .tpfeed--standard-wrapper {
        display: block;
        margin-bottom: 15px;
        margin-right: 5%;
        width: 47.5%;

        &:nth-child(even) {
            margin-right: 0;
        }
    }

    .callout {
        position: absolute;
        right: -15px;
        bottom: 5px;
        color: white;
        font-size: 10px;
        line-height: 1;
        margin: 0;
        text-transform: uppercase;
        background: #ff9933;
        -webkit-clip-path: polygon(10px 13px, 100% 0%, 85% 95%, 0% 85%);
        clip-path: polygon(10px 13px, 100% 0%, 85% 95%, 0% 85%);
        padding: 15px 20px 15px 10px;
        text-align: right;

        span {
            display: block;

            &.callout-price {
                font-size: 18px;
                font-weight: bold;
                margin-bottom: 3px;
            }

            &.callout-unit {
                display: inline;
                font-size: 10px;
                font-weight: normal;
                margin-left: -9px;
            }
        }

        sup {
            vertical-align: text-top;
        }
    }

    h3 {
        color: #ff9933;
        font-size: 18px;
        line-height: 1;
        margin: 5px 0 0;
        text-transform: uppercase;

        span {
            color: #000;
            display: inline-block;
            font-size: 14px;
        }
    }

    p {
        font-size: 10px;
        line-height: 1.2;
        margin: 5px 0;
    }
}

/* target firefox and IE !? */
.no-websqldatabase {
    .tpfeed--standout {
        p {
            background-color: transparent;
            background-image: url('../images/standout-callout-bg.png');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            padding-right: 25px;
        }
    }
    .tpfeed--standard {
        .callout {
            background-color: transparent;
            background-image: url('../images/standard-callout-bg.png');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            padding-right: 25px;
        }
    }
}

@media (min-width: 480px) {
    .tpfeed--loader,
    .tpfeed--loader:after {
        width: 7em;
        height: 7em;
    }

    .widget_tp_specials {
        padding: 10px 30px;
    }

    .tpfeed--prev,
    .tpfeed--next {
        width: 35px;

        &:before {
            font-size: 28px;
        }
    }

    .tpfeed--standout {
        h3 {
            font-size: 24px;
            top: 20px;
        }

        p {
            font-size: 16px;
            right: 30px;
            bottom: 30px;
        }
    }
}

@media (min-width: 800px) {
    .tpfeed--loader,
    .tpfeed--loader:after {
        width: 10em;
        height: 10em;
    }
    /* Default GRID layout */
    .tpfeed--container {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    }

    .tpfeed--prev,
    .tpfeed--next {
        width: 50px;

        &:before {
            font-size: 40px;
        }
    }

    .tpfeed--standout {
        margin-bottom: 0;
        margin-left: auto;
        width: 100%;

        h3 {
            font-size: 30px;
            right: 30px;
            top: 20px;
        }

        p {
            font-size: 18px;
            padding: 25px;
        }
    }

    .tpfeed--standard {
        margin-right: auto;
        padding-left: 20px;

        .nostandout & {
            width: 100%;
        }

        a {
            margin-bottom: 0;
        }
    }

    /* Alternate ROW layout */
    .tpfeed--container.tpfeed--row {
        width: 100%;
    }

    .tpfeed--row {
        .tpfeed--standard {
            max-width: none;
            padding-left: 0;
        }
        .tpfeed--standard-wrapper {
            display: block;
            margin-bottom: 15px;
            margin-right: 2.5%;
            width: 23%;

            &:nth-child(even) {
                margin-right: 2.5%;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
}